@{
    ViewBag.Title = "Home Page";
}
<br />
<div class="jumbotron" style="margin-top: 60px">
    <h1 align="center">SCM Interview Library</h1>
</div>
<div class="row">
    <div align="center">
        <h2>Welcome to the Sustainable Community Media Interview Library</h2>
        <p>
            This application will allow you to organize and search for interview data.
        </p>
       
        
        
    </div>
</div>